# **In this notebook I am trying to find out at which time(minute) most of the stock is all time high**

In [1]:
import pandas as pd

C:\Users\DELL\AppData\Local\Temp\ipykernel_17200\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df=pd.read_csv("NIFTY 50 - Minute data.csv")
df

                       date      open      high       low     close  volume
0       2015-01-09 09:15:00   8285.45   8295.90   8285.45   8292.10       0
1       2015-01-09 09:16:00   8292.60   8293.60   8287.20   8288.15       0
2       2015-01-09 09:17:00   8287.40   8293.90   8287.40   8293.90       0
3       2015-01-09 09:18:00   8294.25   8300.65   8293.90   8300.65       0
4       2015-01-09 09:19:00   8300.60   8301.30   8298.75   8301.20       0
...                     ...       ...       ...       ...       ...     ...
836752  2024-01-25 15:25:00  21376.55  21378.90  21372.75  21377.95       0
836753  2024-01-25 15:26:00  21376.55  21386.10  21375.80  21384.20       0
836754  2024-01-25 15:27:00  21384.75  21401.75  21381.30  21394.15       0
836755  2024-01-25 15:28:00  21392.70  21396.25  21384.25  21395.70       0
836756  2024-01-25 15:29:00  21391.75  21391.95  21367.40  21370.75       0

[836757 rows x 6 columns]

In [4]:
#converting to date-time format
df['date']=pd.to_datetime(df['date'])

In [5]:
# Creating new columns for date and time 
df['date_only'] = df['date'].dt.date
df['time_only'] = df['date'].dt.time

In [6]:
#in this code we seprate (time and date column) 
print(df[['date_only', 'time_only']])

         date_only time_only
0       2015-01-09  09:15:00
1       2015-01-09  09:16:00
2       2015-01-09  09:17:00
3       2015-01-09  09:18:00
4       2015-01-09  09:19:00
...            ...       ...
836752  2024-01-25  15:25:00
836753  2024-01-25  15:26:00
836754  2024-01-25  15:27:00
836755  2024-01-25  15:28:00
836756  2024-01-25  15:29:00

[836757 rows x 2 columns]

In [7]:
#deleting data and volume column bcz i have created new column of date and time seperately
df.drop(['date','volume'], axis=1,inplace=True)

**Finding High price in a minute of each perticular day between 9:15 to 3:30**

In [8]:
# Finding the index of the maximum value in the 'high' column for each date
max_high_index_per_day = df.groupby('date_only')['high'].idxmax()

# Retrieve the rows from the original DataFrame using the index
max_high_day = df.loc[max_high_index_per_day]
print(max_high_day)
#In this code the value of high colum has max value

            open      high       low     close   date_only time_only
5        8300.50   8303.00   8298.60   8300.00  2015-01-09  09:20:00
747      8329.95   8332.25   8329.65   8331.05  2015-01-12  15:27:00
1029     8352.80   8356.65   8352.60   8355.50  2015-01-13  13:54:00
1155     8318.45   8326.30   8318.45   8325.35  2015-01-14  09:45:00
1835     8526.70   8526.90   8520.75   8521.90  2015-01-15  14:50:00
...          ...       ...       ...       ...         ...       ...
834960  21668.00  21670.60  21662.30  21663.45  2024-01-19  10:33:00
835257  21706.15  21720.30  21682.65  21715.90  2024-01-20  09:15:00
835633  21741.95  21750.25  21736.30  21736.35  2024-01-23  09:16:00
836379  21480.05  21482.35  21474.30  21475.85  2024-01-24  15:27:00
836382  21454.60  21459.00  21398.25  21436.05  2024-01-25  09:15:00

[2240 rows x 6 columns]

In [9]:
# Find the most frequently occurring time in the 'time_only' column and its frequency
most_common_time = df['time_only'].value_counts().idxmax()
most_common_time_count = df['time_only'].value_counts().max()

print("Most common time in 'time_only' column:", most_common_time)
print("Number of occurrences:", most_common_time_count)

Most common time in 'time_only' column: 09:15:00
Number of occurrences: 2221

**As you can see above output it means most of the stock price are all time high at 9:15:00 AM**

In [10]:
# Count the frequency of each time and sort in descending order
time_frequency = df['time_only'].value_counts().sort_values(ascending=False)

print("Repeated times and their frequencies in descending order:")
print(time_frequency)
# print(time_frequency.head(20))

Repeated times and their frequencies in descending order:
time_only
09:15:00    2221
15:15:00    2216
13:53:00    2215
09:16:00    2213
12:08:00    2212
            ...
16:55:00       1
16:56:00       1
16:57:00       1
16:58:00       1
16:59:00       1
Name: count, Length: 1097, dtype: int64

In [11]:
df['time_only'] = pd.to_datetime(df['time_only'], format='%H:%M:%S')

# Resample the DataFrame with a 45-minute time range and sum the frequencies
time_frequency = df.resample('45min', on='time_only')['time_only'].count()

print("Time ranges and their summed frequencies:")
print(time_frequency)

Time ranges and their summed frequencies:
time_only
1900-01-01 09:00:00     66874
1900-01-01 09:45:00    100359
1900-01-01 10:30:00    100322
1900-01-01 11:15:00    100322
1900-01-01 12:00:00    100341
1900-01-01 12:45:00    100337
1900-01-01 13:30:00    100344
1900-01-01 14:15:00    100347
1900-01-01 15:00:00     66884
1900-01-01 15:45:00        45
1900-01-01 16:30:00        30
1900-01-01 17:15:00        57
1900-01-01 18:00:00       255
1900-01-01 18:45:00       240
Freq: 45min, Name: time_only, dtype: int64